body {
    margin: 0;
    padding: 0;
    background-color: #E8E7E7;
}

/* Main Content */

.main-content {
    padding-top: 90px;
    display: flex;
    justify-content: space-around;
    margin: 30px;
    flex-wrap: wrap; 
}

.content-container {
    width: 60%;
    max-width: 1000px; 
    flex-shrink: 1; 
    min-height: 710px;
}
.filter-section {
    position: relative;
}

.filter-bar {
    width: 100%;
    height: 36px;
    background: #D9D9D9;
    border-radius: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Garante que os itens estejam centralizados verticalmente */
    padding-right: 10px; /* Adiciona um pouco de espaço à direita para o botão de pesquisa */
}

.search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 30px 0 0 30px; /* Bordas arredondadas apenas à esquerda */
    font-size: 16px;
}

.search-button {
    background: none;
    border: none;
    color: #1C4633;
    font-size: 20px;
    cursor: pointer;
    padding: 0px; 
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 73, 41);
    border-radius: 50%;
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.filter-btn {
    width: 229px;
    height: 38px;
    background: rgba(28, 70, 51, 0.80);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E8E7E7;
    font-size: 20px;
    font-weight: 300;
    margin: 0 10px;
}



.filter-person {
    padding-top: 10px;
    width: 100%;
    gap:10px;
    max-width: 1000px; 
    flex-shrink: 1; 
    box-shadow: black;
    align-items: center;
    align-content: center;
}

.person {
    gap:10px;
}

.profile-card {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap; 
}

.profile-avatar {
    width: 100px;
    height: 100px;
    background: #1C463380; 
    border-radius: 50%;
}

.rating {
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile-info h2 {
    color: #1C4633;
    font-size: 20px;
    margin-bottom: 5px;
}

.profile-info p {
    color: #1C4633; 
    font-size: 16px;
}

.rating .stars {
    color: #B2822B; 
    font-size: 16px; 
}

.rating .score {
    color: #1C4633;
    font-size: 14px;
    font-weight: bold;
}

.custom-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 110px;
    margin: 0 auto;
}

.icon-svg {
    width: 70%;
    height: 70%;
    transition: fill 0.3s;
}

.icon:hover svg {
    fill: #FFFFFF;
}

.icon-path {
    stroke: #DADADA;
    stroke-width: 2;
    stroke-linejoin: round;
}

.icon-path-circle {
    stroke: #DADADA;
    stroke-width: 2;
}