body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #E8E7E7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #E8E7E7;
    border: 7px solid #B2822B;
    border-radius: 30px;
    padding: 2rem;
    max-width: 500px;
    width: 90%;
    box-sizing: border-box;
}

.title {
    text-align: center;
    color: rgba(28, 70, 51, 0.80);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.subtitle {
    text-align: center;
    color: rgba(28, 70, 51, 0.60);
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 0;
}

.input {
    background-color: rgba(28, 70, 51, 0.80);
    color: #DADADA;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 30px;
    border: none;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.button {
    background-color: #1C4633;
    color: #EFEFEF;
    font-size: 1.2rem;
    padding: 0.8rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.button:hover {
    background-color: #16492E;
}

.login-text {
    text-align: center;
    font-size: 0.9rem;
    color: #1C4633;
}

.login-text span {
    text-decoration: underline;
    cursor: pointer;
}
